.greet-main {
  width: 100%;
  padding: 2rem;
  padding-left: 4rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

.cta-container {
  display: flex;
  padding-top: 2rem;
  align-items: start;
}
.btns-container {
  display: flex;
}
div.about-me p {
  font-size: 18px;
}
div.about-me span a {
  color: var(--mainColor);
  text-decoration: none;
}
div.about-me span a:hover {
  text-decoration: underline;
}

.button {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 15px 15px;
  margin-bottom: 20px;
  margin-right: 1em;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid var(--mainColor);
  display: inline-block;
  transition: ease-in-out 0.3s;
}
.button:hover {
  transform: scale(1.1);
}

/* Media Query */
@media (max-width: 1179px) {
  .cta-container {
    flex-direction: column;
    align-items: center;
  }
  .greet-main {
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .greet-main {
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .greeting-intro {
    text-align: center;
  }
  .cta-container {
    flex-direction: column;
    align-items: center;
  }

  .button {
    padding: 7px;
    font-size: 12px;
    width: max-content;
  }
}
