.greet-main {
  max-width: 1370px;
  padding: 10px 20px;
  margin: 0px auto;
  margin-top: 2rem;
  display: flex;
  height: 100vh;
  align-items: center;
}

.greeting-main {
  display: flex;
  /* text-align: center; */
}

.greeting-main > * {
  /* flex: 1; */
  margin-bottom: 30px;
}

.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-nickname {
  font-size: 30px;
  line-height: 0px;
}

.greeting-text-div {
  font-size: 22px;
  margin-bottom: 40px;
  display: inline-flex;
  min-width: 60%;
}

.greeting-text-static {
  margin-right: 5px;
}

.greeting-image-div > * {
  max-width: 100%;
  height: auto;
}

#viewport {
  position: absolute;
  left: 0;
  top: 0;
}

.greeting-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-hand-wave {
  width: 70px;
  height: auto;
}

.cta-container {
  display: flex;
  padding-top: 2rem;
  align-items: start;
}
.btns-container {
  display: flex;
}
div.about-me p {
  font-size: 18px;
}
div.about-me span a {
  color: var(--mainColor);
  text-decoration: none;
}
div.about-me span a:hover {
  text-decoration: underline;
}

.button {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 15px 15px;
  margin-bottom: 20px;
  margin-right: 1em;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid var(--mainColor);
  display: inline-block;
  transition: ease-in-out 0.3s;
}
.button:hover {
  transform: scale(1.1);
  /* background-color: var(--mainColor); */
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }

  .greeting-hand-wave {
    width: 50px;
  }

  .greeting-text-div {
    font-size: 30px;
    margin-bottom: 20px;
    /* text-align: center; */
  }

  .greet-main {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .greeting-text {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
  }

  .greeting-text-container {
    text-align: center;
  }

  .greeting-text-div {
    font-size: 20px !important;
    margin-right: 0px;
    line-height: normal;
    margin-bottom: 20px;
    /* text-align: center; */
  }

  .greeting-main {
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .cta-container {
    flex-direction: column;
  }

  .button {
    padding: 7px;
    font-size: 12px;
    width: max-content;
  }

  .cta-container {
    align-items: center;
  }
}
