nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 0 20px;

  color: #fff;
  position: relative; /* add position relative */
  z-index: 999;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;

  margin-left: 20px;
  position: absolute; /* add position absolute */
  top: 10px; /* adjust the top position */
  right: 20px; /* move the menu icon to the right side */
}

.menu-icon i {
  font-size: 1.5rem;
  color: #fff;
}

ul {
  position: absolute; /* add position absolute */
  right: 0; /* set right to 0 */
  top: 60px; /* adjust the top position */
  background-color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

ul.show {
  display: flex;
  flex-direction: column;
}

ul li {
  margin: 0;
}

ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

ul li a:hover {
  background-color: #444;
}
