.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}

/* -- Slideout Sidebar -- */

.slideout-sidebar {
  position: fixed;
  top: 0;
  right: -190px;
  z-index: 999;
  width: 150px;
  height: 100%;
  padding: 20px;
  background-color: #212121;
  transition: all 300ms ease-in-out;
}

.slideout-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideout-sidebar ul li {
  border-bottom: 1px solid rgba(244, 244, 244, 0.4);
}
.slideout-sidebar ul li a {
  cursor: pointer;
  padding: 18px 0;
  border-bottom: 1px solid red;
  color: rgba(244, 244, 244, 0.7);
  text-decoration: none;
  display: block;
}

.slideout-sidebar ul li a:last-child {
  border-bottom: 0;
}

.slideout-sidebar ul li a:hover {
  color: rgba(244, 244, 244, 1);
}

/* -- Menu Icon -- */

#menu-toggle {
  display: none;
}

.menu-icon {
  position: absolute;
  top: 18px;
  right: 30px;
  font-size: 24px;
  z-index: 999;
  transition: all 300ms ease-in-out;
  background-color: var(--mainColor);
  padding: 5px 8px 5px 8px;
  border-radius: 50%;
  color: black;
  cursor: pointer;
}
.menu-close {
  margin-top: 1em;
  display: block;
  cursor: pointer;
}
.menu-close i {
  font-size: 2em;
  color: white;
}
/*-- The Magic --*/
#menu-toggle:checked ~ .slideout-sidebar {
  right: 0px;
}

#menu-toggle:checked + .menu-icon {
  right: 210px;
}

/* -- Media Queries -- */

@media (max-width: 767px) {
  .slideout-sidebar ul {
    text-align: center;
    max-width: 200px;
    margin: 30px auto 0;
  }

  .menu-icon {
    right: 20px;
  }

  #menu-toggle:checked ~ .slideout-sidebar {
    width: 100%;
  }

  #menu-toggle:checked + .menu-icon {
    right: 87%;
    color: #fafafa;
  }

  @media screen and (max-width: 736px) and (orientation: landscape) {
    .slideout-sidebar {
      padding: 0;
    }

    .slideout-sidebar ul {
      max-width: 100%;
      margin: 60px auto 0;
    }

    .slideout-sidebar ul li a {
      display: inline-block;
      border-bottom: 0;
      width: 72px;
      padding: 18px 24px;
      margin: 0 6px 12px;
      color: #ffffff;
      background-color: #777;
    }
  }
}
