.work-experience {
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  margin-bottom: 24px;
  animation-name: fade-in;
  animation-duration: 1s;
  position: relative;
}

.work-experience:not(:last-child):after {
  content: "";
  border-bottom: 1px solid var(--mainColor);
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 2em;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.work-experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.work-experience-company {
  --c: var(--mainColor);

  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
  padding: 10px;
  border-bottom: 1px solid var(--mainColor);
  --_p: 100%;
  color: black;
}

.work-experience-dates {
  font-size: 16px;

  margin: 0;
}

.work-experience-job-title {
  font-size: 20px;
  font-weight: bold;

  margin: 16px 0;
}

.work-experience-description {
  list-style: disc;
  padding-left: 24px;
  margin: 0;
}

.work-experience-description li {
  font-size: 16px;

  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .work-experience {
    padding: 16px;
  }

  .work-experience-header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
  }

  .work-experience-company {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .work-experience-dates {
    font-size: 16px;
  }

  .work-experience-job-title {
    font-size: 18px;
    margin: 8px 0;
  }

  .work-experience-description {
    list-style: disc;
    padding-left: 24px;
    margin: 0;
  }

  .work-experience-description li {
    font-size: 16px;
    margin-bottom: 8px;
  }
}
