.experience-main {
  width: 100%;
}

.work-exp {
  padding: 2em;
  margin-top: 5em;
  margin-bottom: 5em;
  background-color: black;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(226, 120, 108);
  border-bottom: none;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgb(226, 120, 108);
}
