h1.portfolio-header {
  text-align: center;
}

.projects-main {
  padding: 2em;
  margin-top: 5em;
  margin-bottom: 5em;
  background-color: black;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--mainColor);
  border-bottom: none;
  border-radius: 5px;
  box-shadow: 1px 1px 20px var(--mainColor);
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px var(--mainColor);
  transition: box-shadow 0.3s ease-in-out;
  padding-bottom: 1em;
  max-height: 500px;
}

.project:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.image-container {
  height: 50%;
}
.image-container img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

.details-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.links a {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 -5px 15px var(--mainColor);
}

.links a:hover {
  color: #fff;
  box-shadow: none;
}

.description {
  flex: 1;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 1.5;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.technology {
  background-color: #eee;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #444;
}

@media screen and (max-width: 1024px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}
/*************** MEDIA QUERIES (SMALL DEVICES) ***************/
@media screen and (max-width: 600px) {
  .project-list {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
